* { margin: 0 ; padding: 0 ;font-family: 'Poppins', sans-serif;}

      /* width */
      ::-webkit-scrollbar {
        width: 5px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: var(--background-color); 
      }

:root{
  --main-color: #222;
    --background-color: #51aa1b;
    --border-color: #e2e2e2;
    --secondary-color: #f9c938;
    --secondary-background-color : #459117;
    --border-soild : rgba(0, 0, 0, 0.212);
}

body,html{width: 100%; height : 100%;}

a{text-decoration: none !important; color: black; transition: 0.3s }
li{list-style: none;}

.preload {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 10000;
}
.popup-letter{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.548);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .wrap-popup{
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    height: 460px;
    background-image: url("../img/popup-letter.jpg");
    background-repeat: no-repeat;
    display: flex;

    .left, .right{
      width: 50%;
    }
    .right{
      position: relative;
      form{
        margin-top: 70px;
        width: 100%;
        h3,>div{
          text-align: center;
        }
        >div{padding: 0 10px;}
        h3{
          margin-bottom: 20px;
          font-weight: 700;
          font-size: 24px;
        }
        .input-email{
          margin-top: 20px;
          margin-left: 15px;
          outline: none;
          height: 50px;
          text-align: center;
          width: 90%;
          color: black;
          font-size: 14px;
          padding: 0 15px;
        }
        .form-check{
          margin-top: 20px;
          .form-check-label{
            font-size: 15px;
            font-weight: 300;
            font-style: italic;
          }
        }
        
        button{
          display: block; 
          margin-top: 20px; 
          margin-left: 50%; 
          transform: translateX(-50%);
          transition: 0.4s; 
          background-color: var(--main-color); 
          border-radius: 0; 
          border: none;  
          height: 40px;
        }
        button:hover{
          background-color: var(--background-color)
        }
      }

      .btn-close-popup{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;
        height: 35px;
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
        i{color: white;}
      }
      .btn-close-popup:hover{background-color: var(--background-color);}
    }
  }
}
.btn-go-to-top{
  display: none;
  position: fixed;
  bottom: 15%;
  right: 5%;
  width: 25px;
  height: 35px;
  background-color:  var(--background-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  i{color: white;}
}

 main{
  header{
    // menu for computer
    .menu-desktop{
      .top-title{
        height: 45px;
        background-color: var(--secondary-background-color);
        color: white;
        font-weight: 300;

        .left,.right{line-height: 45px;}
        .left{}
        .right{text-align: right;
          .wishlist:hover{color: var(--secondary-color); }
          .wishlist{
            z-index: 10;
            position: relative;
            transition: 0.4s;
            cursor: pointer;
            display: inline;
            a{color: white;  transition: 0.4s;}
            a:hover{color: var(--secondary-color); }
            >ul{
              background-color: white;
              position: absolute;
              transform-origin: top;
              transition: 0.4s;
              width: 160px;
              text-align: left;
              overflow: hidden;
              left: -50px;
              a{color: black; display: contents;}
              a:hover{color: black;}
              li{ transition: 0.4s;
                
                img{padding: 10px;}
              }
              li:hover{background-color: var(--border-color);}
            }
            .show0921{
              transform: scaleY(0);
            }
          }
          
        }
      }
      .between-menu{
        height: 125px;
        background-color: var(--background-color);
        .left{display: flex; justify-content: center; align-items: center; img{width: 200px; height: auto; margin-top: 17px;}}
        .right{
          position: relative;
          .wrap{
            cursor: pointer;
            width: 70%;
            height: 100%;
            float: right;
            display: flex; justify-content: space-between; align-items: center;
            >i{font-size: 40px; color: white; }
            p:nth-child(1){ font-weight: 800; padding-bottom: -5px;}
            p:nth-child(2){ font-size: 13px;}
            p{ color: white; transition: 0.4s; margin-top: 0px; margin-bottom: 3px;}
            p:hover{color: var(--secondary-color);}
          }
         
            
            >ul{
              position: absolute;
            top: 100%;
            right: 0;
            z-index: 5;
              transform-origin: top; transition: 0.4s;
              width: 160px;
              height: 70px;
              display: grid; background-color: white; border: 1px solid var(--border-color);
              grid-template-columns: 1fr;
              a{ display: contents; color: black; font-size: 14px; }
              li{
                 transition: 0.4s;  padding-left: 15px; line-height: 35px;
              }
              li:hover{background-color: var(--border-color);}
            }
            .hidden{transform: scaleY(0); overflow: hidden;}
          
          
        }
        .between{
          display: flex; justify-content: center; align-items: center;
          form{
            width: 100%;
            position: relative;
            input{
              width: 100%;
              height: 50px;
              outline: none;
              border: none;
              border-radius: 35px;
              padding-left: 30px;
              padding-right: 50px;
            }
            button{position: absolute; background: none; border: none; font-size: 25px; top: 50%; right: 15px; transform: translateY(-50%);}
          }
        }
        .left,.right,.between{
          height: 125px;
        }
      }
      .bottom-option{
        background-color: var(--secondary-background-color);
        .wrap-categories{
          display: grid;
          grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
          height: 60px;
          grid-gap: 10px;
          .categories{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            position: relative;
            .wrap-list-categories{
              position: absolute; top: 100%; left: 0; z-index: 5;
                width: 100%; height: 550px; background-color:white;
                border: 1px solid var(--border-soild);
                transition: 0.4s; overflow: hidden;
              .list-categories{
                width: 100%; height: auto;
                >a{transition: 0.4s; font-size: 15px;display: block; width: 100%; height: 50px; display: flex; justify-content: center; color: black;}
                li{width: 85%; height: 100%;  line-height: 50px; border-bottom: 1px solid var(--border-color);
                  >i{float: right; line-height: 50px;}
                }
                >a:hover{color: var(--background-color);}
              }
            }
            .hidden{overflow: hidden; height: 0 !important;}

            .frozen-item-list{
              display: grid; grid-template-columns: 1fr; transition: 0.4s;
              background-color: white; border: 1px solid var(--border-color);
              position: absolute; left: 100%; top: 100%;
              width: 270px; height: 207px; z-index: 5;
              padding-left: 30px; padding-top: 15px; padding-bottom: 5px;
              a{color: black; display: block; transition: 0.2s;}
              a:hover{color: var(--background-color);}
              
            }
            .fruit-veges-list{
              position: absolute; left: 100%; top: 100%;
              width: 805px; height: 250px; transition: 0.4s;
              display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 25px;
              z-index: 6;
              background-color: rgb(255, 255, 255);
              padding: 20px 25px;
              align-items: flex-start;
              .one-col-inner{
                
                .title{font-size: 15px; font-weight: 600; border-bottom: 1px solid var(--border-color); padding-bottom: 5px; display: block; width: 100%;}
                img{width: 100%; height: 210px;}
                a{color: black; transition: 0.4s;}
                a:hover{color: var(--background-color);}
                p:nth-child(2){padding-top: 15px;}
              }
            }
            .oils-ghee-list{
              position: absolute; left: 100%; top: 100%;
              width: 805px; height: 365px; transition: 0.4s;
              z-index: 7;
              background-color: rgb(255, 255, 255);
              .text-top{
              width: 805px; height: 250px; transition: 0.4s;
              display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 25px;
              padding: 20px 25px;
              align-items: flex-start;
              .one-col-inner{
                
                .title{font-size: 15px; font-weight: 600; border-bottom: 1px solid var(--border-color); padding-bottom: 5px; display: block; width: 100%;}
                img{width: 100%; height: 210px;}
                a{color: black; transition: 0.4s;}
                a:hover{color: var(--background-color);}
                p:nth-child(2){padding-top: 15px;}
              }
              }
              .img-bottom{
                width: 100%; height: 115px;
                display: grid; padding: 20px; grid-template-columns: 1fr 1fr;
                grid-gap: 20px; overflow: hidden;
                a{
                  img{transition: 0.4s;}
                  img:hover{opacity: 0.7;}
                }
              }
            }
            .on-hover{
              opacity: 0;
              visibility: hidden;
              transform: translateX(50px);
            }
          }
          a{display: contents;  color: white;}
          .go{
            font-size: 14px;
            transition: 0.4s;
            img{margin-right: 10px;}
          }
          .go:hover{background-color: var(--secondary-color);}
          >div:nth-child(1){background-color: var(--secondary-color); cursor: pointer;}
          .cart{
            position: relative;
           
            .cart-gap{
              cursor: pointer;
              display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
              position: absolute; top: 0; right: 0; z-index: 4;
             width: 85px; height: 80px; background-color: var(--secondary-color);
             border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; 
             i{font-size: 40px;}
             p{font-size: 12px;}
            }
            .list-cart{
              position: absolute; top: 60px; right: 0;z-index: 3;
              width: 290px; height: 170px;
              background-color: white; border: 1px solid var(--border-color   );
              transform-origin: top; overflow: hidden; transition: 0.4s;
              display: grid;
              grid-template-columns: 1fr;
              text-align: center;
              >i{font-size: 80px ; padding-top: 20px;}
              >i,>p{opacity: 0.6;}
            }
            .hidden{transform: scaleY(0);}
          }
        }
      }
      .top-title-mobile{
        height: 80px; background-color: var(--background-color);
        .wrap{
          width: 100%; height: 100%;
          display: grid; grid-template-columns: 1fr 1fr 1fr;
          align-items: center;
          .menu-bar{i{font-size: 30px; cursor: pointer;}
          .menu-hidden-left{
            position: fixed; top: 0; left: 0;
            width: 50%; min-width: 280px; max-width: 350px; height: 100%;
            background-color: rgb(255, 255, 255);
            z-index: 1000 !important;
            overflow-y: scroll; transition: 0.4s;
            .top{
              width: 100%; height: 120px;
              background-image: url('../img/user-bg.jpg');
              background-position: center; position: relative;
              a{position: absolute; bottom: 15px; left: 20px; color: white; }
              .register{left: 80px;}
              >i{color: white;}
              i:nth-child(1){font-size: 55px; margin-left:20px; margin-top: 15px;}
              i:nth-child(2){float: right; margin-top: 15px; margin-right: 10px;}
            }
            .wrap-menu{
              width: 100%; height: auto; overflow: hidden; transition: 0.4s; margin-bottom: 5px;
              .father-menu{
                height: 240px; width: 100%; transition: 0.4s;
                .menu{
                  height: 240px; width: 100%;
                  display: grid; grid-template-columns: 1fr;
                  .title{ cursor: pointer;
                    border-bottom: 1px solid var(--border-color); border-top: 1px solid var(--border-color);
                    font-weight: 700;
                    >i{font-size: 20px;}
                  }
                  >a,li{
                    line-height: 40px;
                    display: block; 
                    color: black;
                    
                    >i{padding-right: 15px; padding-left: 20px;}
                  }
                  a{padding-left: 20px; transition: 0.4s; border-bottom: 1px solid var(--border-color);}
                  a:hover{background-color: var(--border-color);}
                }
              }
              .zoom-out{
                height: 41px !important;
              }
            }
            .menu_2{
              .father-menu{
                height: 620px !important;
                .menu{
                  height: 620px !important;
                }
              }
              .zoom-out{
                height: 43px !important;
              }
            }
            .wrap-setting{
              width: 100%; height: auto; 
              .father-setting{
                width: 100%; height: 145px; overflow: hidden; transition: 0.4s;
                .setting{
                  .title{
                    height: 40px; line-height: 40px; cursor: pointer;
                    i{font-size: 20px; padding-left: 20px; padding-right: 15px;}
                    font-weight: 700; font-size: 16px; border-bottom: 1px solid var(--border-color);
                  }
                  .select{width: 100%; height: 85px;
                    display: grid; grid-template-columns: 1fr 1fr;
                    grid-gap: 20px; padding: 20px;
                  }
                }
              }
              .zoom-out{height: 41px !important;}
            }

          }
          .background-black{
            position: fixed; top: 0; left: 0; z-index: 999;
            width: 100%; height: 100%; transition: 0.4s;
            background-color: rgba(0, 0, 0, 0.466);
            cursor: pointer;
          }
          .go-left{transform: translateX(-100%);}
          .hidden-back-ground-black{opacity: 0; visibility: hidden;}
        }
          .main-icon{
            display: flex; align-items: center; justify-content: center;
            img{width: 145px; height: 60px;}
          }
          .cart-mobile{i{float: right; font-size: 30px; cursor: pointer;}
          .list-cart-mobile{
            position: absolute; top: 60px; right: 20px;z-index: 3;
            width: 290px; height: 170px;
            background-color: white; border: 1px solid var(--border-color   );
            transform-origin: top; overflow: hidden; transition: 0.4s;
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            >i{font-size: 80px ; padding-top: 20px;}
            >i,>p{opacity: 0.6;}
          }
          .hidden{transform: scaleY(0);}
          }
        }
        }
   }
    // end menu for computer
  }
  section{
    .Imgslide{
      // big slide top
    .big-slide-top{
      position: relative;
      width: 100%;
      height: auto;
      a{
        width: 100%; height: auto; display: block; transition: 2s;
        img{width: 100%; height: auto; transition: 2s;}
      }
      a:nth-child(1){
        img{z-index: 2;}}
      a:nth-child(2){
        position: absolute;
        top: 0; left: 0;
        img{
          z-index: 1;
        }
      }
      .button-slide{
        width: 50px; height: 20px; background-color: rgb(255, 253, 253);
        position: absolute; bottom: 30px; left: 50%; border-radius: 15px;
        transform: translateX(-50%); 
        display: flex; justify-content: space-evenly; align-items: center;
        .button{
          width: 11px ; height: 11px; background-color:var(--border-color); transition: 2s;
          border-radius: 50%; cursor: pointer;
        }
        .active{background-color: var(--secondary-background-color);}
      }
      .hidden{opacity: 0; visibility: hidden;}
      .region-hover-mouse-left,.region-hover-mouse-right{
        width: 15%; height: 100%;
        background-color: rgba(0, 0, 0, 0);
        position: absolute; top: 0;
      }
      .region-hover-mouse-right{right: 0;}
      .region-hover-mouse-left{left: 0;}
    }  
    // end big slide top
    .img-banner{
      width: 100%;
      height: auto;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
      >div:nth-child(1){
        transform: skewX(-30deg) translateX(-6%);
        width: 103%;
        overflow: hidden;
        img{
          width: 100%; height: 100%;
          transform: skewX(30deg)  translateX(6%);
        }
      }
      >div:nth-child(2){
        transform: skewX(-30deg) translateX(3%);
        width: 103%;
        overflow: hidden;
        img{
          width: 104%;
          transform: skewX(30deg) translateX(-9%);
        }
      }
      .wrap-img{position: relative;}
      .effect{
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        left: 0;
        content: "";
        background-color: rgba(255, 255, 255, 0.692);
        transition: 0.4s;
        visibility: hidden;
        transform: skewX(10deg);
      }
      .wrap-img:hover{
        .effect{
          animation: effect forwards 0.3s linear;
        }
      }
      @keyframes effect {
        0%{visibility: visible; opacity: 1;}
        100%{visibility: visible; opacity: 1; left: 120%;}
      }
    }
    }

    .title-products{
      position: relative;
      width: 100%;
      height: 50px;
      background-color: var(--border-color);
      margin-bottom: 35px;

      h3{font-size: 23px; font-weight: 600; line-height: 50px; padding-left: 30px;}

    }
    .title-products:after{
      content: "";
      width: 7px;
      top: 0;
      left: 0;
      height: 100%;
      position: absolute;
      background-color: var(--background-color);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    .top-categories{
      margin-top: 65px;
      .main{
        padding: 0;
        .owl-carousel{
          .item{
            .content{
              height: 265px;
             
              .content-top{margin-bottom: 35px;}
              .content-top, .content-bottom{
                overflow: hidden;
                padding: 5px;
                width: 100%; 
                height: 115px;
                display: flex;
                border: 1px solid var(--border-color);
            
                .right{
                  width: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img{
                    width: 80%;
                    height: 100%;
                    transition: 0.6s;
                  }
                }
                .left{
                  display: flex;
                  align-items: center;

                  p{transition: 0.4s;}
                }
              }
              
              .content-top:hover, .content-bottom:hover{
                p{color: var(--background-color) !important;}
                img{transform: scale(1.15);}
              }
            }
          }

          .owl-nav{
            button{
              height: 35px;
              width: 35px;
              border: solid var(--background-color);
              border-radius: 50%;
              border-width: 1px;
              transition: 0.2s;

              span{
                transition: 0.2s;
                font-size: 30px;
                line-height: 35px;
                color: var(--background-color);
              }

            }
            button:hover{
              background-color: var(--background-color);
              span{
                color: white;
              }
            }
          }
        }
      }
    }

    .trending-products{
      margin-top: 65px;
      height: auto;
      position: relative;

      .product-types{
        position: absolute;
        top: 0;
        right: 150px;

        >ul{
          height: 50px;
          margin: 0 !important;
          padding: 0 !important;
          >li{
            transition: 0.4s;
            display: inline-block;
            cursor: pointer;
            line-height: 50px ;
            font-size: 18px;
            margin: 0 10px;
          }

        }
      }

      .banner-left{
        position: relative;
        width: 100%;
        overflow: hidden;
        a{
          display: block;
          width: 100%;
          img{width: 100%;}
        }
      }
      .banner-left:after{
        position: absolute;
        content: "";
        top: -30px;
        left: -40%;
        width: 15%;
        height: 127%;
        background-color: white;
        -webkit-transform: rotateY(30deg);
        transform: rotateZ(14deg);
        transition: 0.3s;
        opacity: 0.6;
      }
      
      @keyframes effect1 {
        0%{left: -40%;}
        100%{left: 115%;}
      }

      .banner-left:hover:after{
        animation: effect1 forwards 0.3s linear;
      }
      
      .slide-trending-products{
        height: auto;
        padding-bottom: 0 !important;
        .owl-carousel{
          padding: 0 !important;
          height: 100%;
          .owl-stage-outer,.owl-stage{height: 100% !important;}
          .item{
            height: auto;
            .content{
              height: auto;
              .product-top{margin-bottom: 30px;}
              >div{
                a{
                  display: block;
                  height: auto; 
                  width: 100%;
                  position: relative;
                }
                width: auto;
                height: auto;
                position: relative;
                padding-bottom: 55px;
                border: 1px solid var(--border-color);
                transition: 0.4s;
                overflow: hidden;

                img{
                  width: 100%;
                  top: 0;
                  left: 0;
                  transition: 0.6s;
                }
                .hover-img{
                  top: 0;
                  left: 0;
                  position: absolute;
                  opacity: 0;
                  visibility: hidden;
                }

                .infor-product{
                  position: absolute;
                  left: 10px;
                  bottom: 6px;
                  transition: 0.4s;

                  .product-name{
                    font-size: 16px;
                    color: black;
                    font-weight: 300;
                    line-height: 0.7;
                  }

                  .detail{
                    .price{
                      font-style: 18px;
                      font-weight: 700;
                    }
                    .old-price{
                      font-size: 15px;
                      font-weight: 300;
                      text-decoration: line-through;
                    }
                    span{color: black;}
                  }
                }

                #product-review{
                  position: absolute;
                  left: 0;
                  width: 100%;
                  bottom: 60px;
                  font-size: 14px;
                  text-align: center;
                  .fa{color: #deb047;}
                  .far{color: #728c94}
                }

                .status-product{ 
                  position: absolute;
                  top: 10px;
                  left: -40px;
                  color: black;
                  transition: 0.3s;
                  font-size: 14px;
                }
                .discount{
                  position: absolute;
                  top: 10px;
                  right: -35px;
                  color: black;
                  transition: 0.3s;
                  font-size: 14px;
                  color: rgba(255, 0, 0, 0.89);
                }

                .list-action{
                  position: absolute;
                  width: auto;
                  height: auto;
                  display: flex;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: 23px;
                  visibility: hidden;
                  
                  >div:nth-child(1){transition: 0.3s;}
                  >div:nth-child(2){transition: 0.5s;}
                  >div:nth-child(3){transition: 0.7s;}

                  >div{
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 10px;
                    border-radius: 50%;
                    background-color: var(--background-color);
                    transition: 0.4s;
                    margin-right: 5px;
                    cursor: pointer;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(23px);

                    i{
                      color: white; 
                      padding-left: 8px;
                      font-size: 15px;
                      transition: 0.4s;
                    }
                    >a{
                      display: flex; 
                      justify-content: center;
                      align-items: center;
                      width: 100%; 
                      height: 100%;
                    }
                  }

                  >div:hover{
                    background-color: var(--secondary-color);
                    i{color: black;}
                  }
                }
              }

              >div:hover{
                .conver-img{
                  opacity: 0;
                  visibility: hidden;
                }
                .hover-img{
                  opacity: 1;
                  visibility: visible;
                }

                .infor-product{ opacity: 0; visibility: hidden}

                .status-product{left: 15px}
                .discount{ right: 15px; }
                .list-action{
                  visibility: visible;
                  >div{
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                  }
                }

              }
            }
          }
          .owl-nav{
            button{
              height: 35px;
              width: 35px;
              border: solid var(--background-color);
              border-radius: 50%;
              border-width: 1px;
              transition: 0.2s;

              span{
                transition: 0.2s;
                font-size: 30px;
                line-height: 35px;
                color: var(--background-color);
              }

            }
            button:hover{
              background-color: var(--background-color);
              span{
                color: white;
              }
            }
          }
        }
      }
    }

    .list-banner{
      display: grid;
      grid-template-columns: 3fr 9fr;
      grid-column-gap: 30px;
      margin-top: 65px;

        a{display: block;  height: 100%; width: 100%;}
        .banner-left, .banner-right{
          width: 100%;
          height:auto;
        }
        
        .banner-right{
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 30px;

          .banner-right-top{
            grid-column-gap: 30px;
            display: grid;
            grid-template-columns: 4fr 5fr; 
          }
          .banner-right-bottom{
            grid-column-gap: 30px;
            display: grid;
            grid-template-columns: 3fr 3fr 3fr;
          }
        }

        img{width: 100%; height: 100%;}

        .banner-left, .banner-right-top>div, .banner-right-bottom>div{
          position: relative;
          overflow: hidden;
        }

        .banner-left:after, .banner-right-top>div:after, .banner-right-bottom>div:after{
          position: absolute;
          content: "";
          top: -30px;
          left: -45%;
          width: 15%;
          height: 127%;
          background-color: white;
          -webkit-transform: rotateY(30deg);
          transform: rotateZ(14deg);
          transition: 0.2s;
          opacity: 0.6;
        }
        
        @keyframes effect1 {
          0%{left: -40%;}
          100%{left: 115%;}
        }
  
        .banner-left:hover:after, .banner-right-top>div:hover:after, .banner-right-bottom>div:hover:after{
          animation: effect1 forwards 0.3s linear;
        }
    }

    .discount-banner{
      margin-top:  60px;
      position: relative;
      overflow: hidden;
      a{display: block; width: 100%; height: auto}
      img{width: 100%;}
    }

    .from-the-journal{
      margin-top: 60px;
      .owl-carousel{
        .item{
          position: relative;
          >a:nth-child(1){
            display: block;
            width: 100%;
            height: auto;
            position: relative;
            img{
              width: 100%;
              height: auto;
            }
            .hover{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: var(--background-color);
              transition: 0.4s;
              opacity: 0;
              visibility: hidden;

            }
          }
          .action{
            width: auto;
            height: auto;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;

            .link, .view{
              width: 35px;
              height: 35px;
              border-radius: 50%;
              text-align: center;
              line-height: 35px;
              background-color: white;
              cursor: pointer;
              font-weight: 300;
              color: black;
              transition: 0.3s;
              
            }

            .link{margin-left: 10px; a{
              width: 100%;
              height: 100%;
              display: block;
              text-align: center;
              line-height:35px;
              color: black;
            }}

            .link:hover, .view:hover{
              background-color: var(--secondary-color);
            }
          }

          >h5{
            padding-top: 20px;
            transition: 0.4s;
            >a{font-size: 18px;}
          }
          >h5:hover{a{color: var(--background-color);}}
          p{font-size: 15px; color: black; font-weight: 300;}
          .read-more{
            font-size: 16px;
            color: var(--background-color);
          }
          .read-more:hover{color: black;}

          .date{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            padding-top: 8px;
            position: absolute;
            top: 15px;
            left: 15px;
            background-color: white;
            color: black;
            line-height: 17px;
          }

        }

        .item:hover{
          .hover{
            opacity: 0.6 !important;
            visibility: visible !important;
          }
          .action{
            opacity: 1;
            visibility: visible;
          }
        }

        .owl-nav{
          button{
            height: 35px;
            width: 35px;
            border: solid var(--background-color);
            border-radius: 50%;
            border-width: 1px;
            transition: 0.2s;

            span{
              transition: 0.2s;
              font-size: 30px;
              line-height: 35px;
              color: var(--background-color);
            }

          }
          button:hover{
            background-color: var(--background-color);
            span{
              color: white;
            }
          }
        }
      }
    }

    .big-banner-bottom{
      margin-top: 80px;
      .wrap-img{
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        a{
          display: block;
          width: 100%;
          height: auto;
          img{
            width: 100%;
          }
        }
      }
      .wrap-img:after{
        position: absolute;
        content: "";
        top: -30px;
        left: -40%;
        width: 15%;
        height: 127%;
        background-color: white;
        -webkit-transform: rotateY(30deg);
        transform: rotateZ(14deg);
        transition: 0.3s;
        opacity: 0.6;
      }
      
      @keyframes effect1 {
        0%{left: -40%;}
        100%{left: 115%;}
      }

      .wrap-img:hover:after{
        animation: effect1 forwards 0.3s linear;
      }
    }

    .slide-bottom{
      margin-top: 60px;
      a{
        display: block;
        width: 100%;
        height: auto;
        img{width: 100%; opacity: 0.6; transition: 0.4s;}
      }
      a:hover{img{opacity: 1;}}
    }

  }
  footer{
    width: 100%;
    height: auto;
    margin-top: 60px;
    .top-footer{
      width: 100%;
      height: 120px;
      background-color: var(--secondary-color);
      display: flex;
      align-items: center;
      .wrap-top-footer{
        width: 100%;
        height: auto;
        
        .wrap-content{
          .title{
            width: 100%;
            display: flex;
            padding: 0;
            .icon{
              margin-right: 20px;
              width: 60px;
              height: 60px;
              border-radius: 50%;
              background-color: white;
              text-align: center;
              i{line-height: 60px; font-size: 30px;}
            }
            .wrap-text{
              p.title{
                font-size: 25px;
                font-weight: 600;
              }
              p{padding: 0; margin: 0}
            }
          }

          .form-subscribe{
            height: 100%;
            position: relative;
            .input-wrap{
              height:100%;
              input{
                overflow: visible;
                height: 50px;
                width: 100%;
                border: none;
                border-radius: 35px;
                padding-left: 30px;
                outline: none;
              }
            }
            .btn-subscribe{
              position: absolute;
              top: 0;
              right: 15px;
              width: 25%;
              height: 100%;
              background-color: var(--background-color);
              color: white;
              text-align: center;
              border-bottom-right-radius: 40px;
              border-top-right-radius: 40px;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    .main-footer{
      margin-top: 60px;
      .slide-footer{border-bottom: 1px solid var(--border-color);}
      .content{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        .wrap-content{
          width: 100%;
          height: auto;

          .icon{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;

            img{height: 45px; width: 45px; transition: 0.4s;}
          }
          .title{
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            margin-top: 20px;
          }
          ul{
            li{
              color: black;
              list-style: none;
              font-size: 14px;
              text-align: center;
              margin-top: 10px;
              i{margin-right: 15px;}
            }
          }
        }
        .border-left{
          border-left: 1px solid var(--border-color);
        }
        .wrap-content:hover{
          .icon{
            img{
              transform: rotateY(180deg);
            }
          }
        }
      }
      .bottom-main{
        margin-top: 40px;
        .footer-logo{
          .logo{
            a{display: block; height: auto; width: auto;}
          }
          .store-des{
            margin-top: 20px;
            font-size: 15px;
            font-weight: 300;
          }
          .list-icon{
            .wrap-icon{
              display: inline-block;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              background-color: black;
              transition: 0.4s !important;
              a{
                display: block; 
                width: 100%; 
                height: 100%; 
                text-align: center;
                line-height: 35px;
              }
              i{color:white;}
            }
            li:nth-child(1):hover{
              border-color: #3b5998;
              background-color: #3b5998;
            }
            li:nth-child(2):hover{
              border-color: #1da1f2;
              background-color: #1da1f2;
            }
            li:nth-child(3):hover{
              border-color: #c4302b;
              background-color: #c4302b;
            }
            li:nth-child(4):hover{
              border-color: #DD4B39;
              background-color: #DD4B39;
            }
            li:nth-child(5):hover{
              border-color: #3b5998;
              background: radial-gradient(circle at 30% 107%,#fdf497 0%,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285AEB 90%);
            }
          }
        }

        .list-infor{
          transition: 0.4s ;
          height: 203px;
          .wrap-content{
            height: auto;
            width: auto;
            overflow: hidden;
            .title{font-size: 16px; font-weight: 600; margin-bottom: 20px;}
            ul{
              width: 100%;
              height: auto;
              li{
                transition: 0.4s;
                margin-top: 8px;
                a{
                  color: black;
                  display: block;
                  font-size: 14px;
                  transform: translateX(-15px);
                  font-weight: 300;
                  i{
                    padding-right: 5px; 
                    font-size: 13px;
                  }
                }
              }
              li:hover{
                a{
                  color: var(--background-color);
                  transform: translateX(0);
                }
              }
            }
          }
        }

        .contact-us{
          .wrap-content{
            .title{font-size: 16px; font-weight: 600; margin-bottom: 20px;}
            ul{
              width: 100%;
              height: auto;
              li{
                transition: 0.4s;
                margin-top: 10px;
                a{
                  display: flex;
                  color: rgba(0, 0, 0, 0.705);
                  font-size: 15px;
                  font-weight: 300;
                  transform: translateX(0);
                  i{
                    padding-right: 15px; 
                    font-size: 17px;
                    color: var(--background-color);
                    padding-top: 3px;
                  }
                }
              }
              li:hover{
                a{
                  color: black;
                }
              }
            }
          }
        }
      }
    }

    .bottom-footer{
      border-top: 1px solid var(--border-color);
      padding: 15px 0;
      .left{
        a{
          color: black;
          font-size: 15px;
          font-weight: 300;
        }
      }
      .right{
        position: relative;
        .wrap-content{
          position: absolute;
          top: 0;
          right: 30px;
          span{
            font-size: 15px;
            font-weight: 300;
            margin-right: 20px;
          }
        }
      }
    }
  }
 }


 .active{
   color: var(--background-color);
 }

 