* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color);
}

:root {
  --main-color: #222;
  --background-color: #51aa1b;
  --border-color: #e2e2e2;
  --secondary-color: #f9c938;
  --secondary-background-color: #459117;
  --border-soild: rgba(0, 0, 0, 0.212);
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none !important;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

li {
  list-style: none;
}

.preload {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 10000;
}

.popup-letter {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.548);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

.popup-letter .wrap-popup {
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  height: 460px;
  background-image: url("../img/popup-letter.png");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-letter .wrap-popup .left, .popup-letter .wrap-popup .right {
  width: 50%;
}

.popup-letter .wrap-popup .right {
  position: relative;
}

.popup-letter .wrap-popup .right form {
  margin-top: 70px;
  width: 100%;
}

.popup-letter .wrap-popup .right form h3, .popup-letter .wrap-popup .right form > div {
  text-align: center;
}

.popup-letter .wrap-popup .right form > div {
  padding: 0 10px;
}

.popup-letter .wrap-popup .right form h3 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.popup-letter .wrap-popup .right form .input-email {
  margin-top: 20px;
  margin-left: 15px;
  outline: none;
  height: 50px;
  text-align: center;
  width: 90%;
  color: black;
  font-size: 14px;
  padding: 0 15px;
}

.popup-letter .wrap-popup .right form .form-check {
  margin-top: 20px;
}

.popup-letter .wrap-popup .right form .form-check .form-check-label {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.popup-letter .wrap-popup .right form button {
  display: block;
  margin-top: 20px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--main-color);
  border-radius: 0;
  border: none;
  height: 40px;
}

.popup-letter .wrap-popup .right form button:hover {
  background-color: var(--background-color);
}

.popup-letter .wrap-popup .right .btn-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.popup-letter .wrap-popup .right .btn-close-popup i {
  color: white;
}

.popup-letter .wrap-popup .right .btn-close-popup:hover {
  background-color: var(--background-color);
}

.btn-go-to-top {
  display: none;
  position: fixed;
  bottom: 15%;
  right: 5%;
  width: 25px;
  height: 35px;
  background-color: var(--background-color);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.btn-go-to-top i {
  color: white;
}

main header .menu-desktop .top-title {
  height: 45px;
  background-color: var(--secondary-background-color);
  color: white;
  font-weight: 300;
}

main header .menu-desktop .top-title .left, main header .menu-desktop .top-title .right {
  line-height: 45px;
}

main header .menu-desktop .top-title .right {
  text-align: right;
}

main header .menu-desktop .top-title .right .wishlist:hover {
  color: var(--secondary-color);
}

main header .menu-desktop .top-title .right .wishlist {
  z-index: 10;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  display: inline;
}

main header .menu-desktop .top-title .right .wishlist a {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main header .menu-desktop .top-title .right .wishlist a:hover {
  color: var(--secondary-color);
}

main header .menu-desktop .top-title .right .wishlist > ul {
  background-color: white;
  position: absolute;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 160px;
  text-align: left;
  overflow: hidden;
  left: -50px;
}

main header .menu-desktop .top-title .right .wishlist > ul a {
  color: black;
  display: contents;
}

main header .menu-desktop .top-title .right .wishlist > ul a:hover {
  color: black;
}

main header .menu-desktop .top-title .right .wishlist > ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main header .menu-desktop .top-title .right .wishlist > ul li img {
  padding: 10px;
}

main header .menu-desktop .top-title .right .wishlist > ul li:hover {
  background-color: var(--border-color);
}

main header .menu-desktop .top-title .right .wishlist .show0921 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

main header .menu-desktop .between-menu {
  height: 125px;
  background-color: var(--background-color);
}

main header .menu-desktop .between-menu .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .menu-desktop .between-menu .left img {
  width: 200px;
  height: auto;
  margin-top: 17px;
}

main header .menu-desktop .between-menu .right {
  position: relative;
}

main header .menu-desktop .between-menu .right .wrap {
  cursor: pointer;
  width: 70%;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .menu-desktop .between-menu .right .wrap > i {
  font-size: 40px;
  color: white;
}

main header .menu-desktop .between-menu .right .wrap p:nth-child(1) {
  font-weight: 800;
  padding-bottom: -5px;
}

main header .menu-desktop .between-menu .right .wrap p:nth-child(2) {
  font-size: 13px;
}

main header .menu-desktop .between-menu .right .wrap p {
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 0px;
  margin-bottom: 3px;
}

main header .menu-desktop .between-menu .right .wrap p:hover {
  color: var(--secondary-color);
}

main header .menu-desktop .between-menu .right > ul {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 5;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 160px;
  height: 70px;
  display: -ms-grid;
  display: grid;
  background-color: white;
  border: 1px solid var(--border-color);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main header .menu-desktop .between-menu .right > ul a {
  display: contents;
  color: black;
  font-size: 14px;
}

main header .menu-desktop .between-menu .right > ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding-left: 15px;
  line-height: 35px;
}

main header .menu-desktop .between-menu .right > ul li:hover {
  background-color: var(--border-color);
}

main header .menu-desktop .between-menu .right .hidden {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  overflow: hidden;
}

main header .menu-desktop .between-menu .between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .menu-desktop .between-menu .between form {
  width: 100%;
  position: relative;
}

main header .menu-desktop .between-menu .between form input {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 35px;
  padding-left: 30px;
  padding-right: 50px;
}

main header .menu-desktop .between-menu .between form button {
  position: absolute;
  background: none;
  border: none;
  font-size: 25px;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main header .menu-desktop .between-menu .left, main header .menu-desktop .between-menu .right, main header .menu-desktop .between-menu .between {
  height: 125px;
}

main header .menu-desktop .bottom-option {
  background-color: var(--secondary-background-color);
}

main header .menu-desktop .bottom-option .wrap-categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 60px;
  grid-gap: 10px;
}

main header .menu-desktop .bottom-option .wrap-categories .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  position: relative;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 550px;
  background-color: white;
  border: 1px solid var(--border-soild);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories {
  width: 100%;
  height: auto;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories > a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories li {
  width: 85%;
  height: 100%;
  line-height: 50px;
  border-bottom: 1px solid var(--border-color);
}

main header .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories li > i {
  float: right;
  line-height: 50px;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .wrap-list-categories .list-categories > a:hover {
  color: var(--background-color);
}

main header .menu-desktop .bottom-option .wrap-categories .categories .hidden {
  overflow: hidden;
  height: 0 !important;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .frozen-item-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: white;
  border: 1px solid var(--border-color);
  position: absolute;
  left: 100%;
  top: 100%;
  width: 270px;
  height: 207px;
  z-index: 5;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .frozen-item-list a {
  color: black;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .frozen-item-list a:hover {
  color: var(--background-color);
}

main header .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list {
  position: absolute;
  left: 100%;
  top: 100%;
  width: 805px;
  height: 250px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  z-index: 6;
  background-color: white;
  padding: 20px 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner .title {
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  display: block;
  width: 100%;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner img {
  width: 100%;
  height: 210px;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner a {
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner a:hover {
  color: var(--background-color);
}

main header .menu-desktop .bottom-option .wrap-categories .categories .fruit-veges-list .one-col-inner p:nth-child(2) {
  padding-top: 15px;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list {
  position: absolute;
  left: 100%;
  top: 100%;
  width: 805px;
  height: 365px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 7;
  background-color: white;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top {
  width: 805px;
  height: 250px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 20px 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner .title {
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
  display: block;
  width: 100%;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner img {
  width: 100%;
  height: 210px;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner a {
  color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner a:hover {
  color: var(--background-color);
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .text-top .one-col-inner p:nth-child(2) {
  padding-top: 15px;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .img-bottom {
  width: 100%;
  height: 115px;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .img-bottom a img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .oils-ghee-list .img-bottom a img:hover {
  opacity: 0.7;
}

main header .menu-desktop .bottom-option .wrap-categories .categories .on-hover {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

main header .menu-desktop .bottom-option .wrap-categories a {
  display: contents;
  color: white;
}

main header .menu-desktop .bottom-option .wrap-categories .go {
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main header .menu-desktop .bottom-option .wrap-categories .go img {
  margin-right: 10px;
}

main header .menu-desktop .bottom-option .wrap-categories .go:hover {
  background-color: var(--secondary-color);
}

main header .menu-desktop .bottom-option .wrap-categories > div:nth-child(1) {
  background-color: var(--secondary-color);
  cursor: pointer;
}

main header .menu-desktop .bottom-option .wrap-categories .cart {
  position: relative;
}

main header .menu-desktop .bottom-option .wrap-categories .cart .cart-gap {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  width: 85px;
  height: 80px;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

main header .menu-desktop .bottom-option .wrap-categories .cart .cart-gap i {
  font-size: 40px;
}

main header .menu-desktop .bottom-option .wrap-categories .cart .cart-gap p {
  font-size: 12px;
}

main header .menu-desktop .bottom-option .wrap-categories .cart .list-cart {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 3;
  width: 290px;
  height: 170px;
  background-color: white;
  border: 1px solid var(--border-color);
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

main header .menu-desktop .bottom-option .wrap-categories .cart .list-cart > i {
  font-size: 80px;
  padding-top: 20px;
}

main header .menu-desktop .bottom-option .wrap-categories .cart .list-cart > i, main header .menu-desktop .bottom-option .wrap-categories .cart .list-cart > p {
  opacity: 0.6;
}

main header .menu-desktop .bottom-option .wrap-categories .cart .hidden {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

main header .menu-desktop .top-title-mobile {
  height: 80px;
  background-color: var(--background-color);
}

main header .menu-desktop .top-title-mobile .wrap {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar i {
  font-size: 30px;
  cursor: pointer;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  min-width: 280px;
  max-width: 350px;
  height: 100%;
  background-color: white;
  z-index: 1000 !important;
  overflow-y: scroll;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top {
  width: 100%;
  height: 120px;
  background-image: url("../img/user-bg.png");
  background-position: center;
  position: relative;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top a {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top .register {
  left: 80px;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top > i {
  color: white;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top i:nth-child(1) {
  font-size: 55px;
  margin-left: 20px;
  margin-top: 15px;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .top i:nth-child(2) {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu {
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 5px;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu {
  height: 240px;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu {
  height: 240px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu .title {
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  font-weight: 700;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu .title > i {
  font-size: 20px;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu > a, main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu li {
  line-height: 40px;
  display: block;
  color: black;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu > a > i, main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu li > i {
  padding-right: 15px;
  padding-left: 20px;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu a {
  padding-left: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid var(--border-color);
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .father-menu .menu a:hover {
  background-color: var(--border-color);
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-menu .zoom-out {
  height: 41px !important;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .menu_2 .father-menu {
  height: 620px !important;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .menu_2 .father-menu .menu {
  height: 620px !important;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .menu_2 .zoom-out {
  height: 43px !important;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting {
  width: 100%;
  height: auto;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .father-setting {
  width: 100%;
  height: 145px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .father-setting .setting .title {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid var(--border-color);
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .father-setting .setting .title i {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 15px;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .father-setting .setting .select {
  width: 100%;
  height: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .menu-hidden-left .wrap-setting .zoom-out {
  height: 41px !important;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .background-black {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.466);
  cursor: pointer;
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .go-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

main header .menu-desktop .top-title-mobile .wrap .menu-bar .hidden-back-ground-black {
  opacity: 0;
  visibility: hidden;
}

main header .menu-desktop .top-title-mobile .wrap .main-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header .menu-desktop .top-title-mobile .wrap .main-icon img {
  width: 145px;
  height: 60px;
}

main header .menu-desktop .top-title-mobile .wrap .cart-mobile i {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

main header .menu-desktop .top-title-mobile .wrap .cart-mobile .list-cart-mobile {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 3;
  width: 290px;
  height: 170px;
  background-color: white;
  border: 1px solid var(--border-color);
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

main header .menu-desktop .top-title-mobile .wrap .cart-mobile .list-cart-mobile > i {
  font-size: 80px;
  padding-top: 20px;
}

main header .menu-desktop .top-title-mobile .wrap .cart-mobile .list-cart-mobile > i, main header .menu-desktop .top-title-mobile .wrap .cart-mobile .list-cart-mobile > p {
  opacity: 0.6;
}

main header .menu-desktop .top-title-mobile .wrap .cart-mobile .hidden {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

main section .Imgslide .big-slide-top {
  position: relative;
  width: 100%;
  height: auto;
}

main section .Imgslide .big-slide-top a {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

main section .Imgslide .big-slide-top a img {
  width: 100%;
  height: auto;
  -webkit-transition: 2s;
  transition: 2s;
}

main section .Imgslide .big-slide-top a:nth-child(1) img {
  z-index: 2;
}

main section .Imgslide .big-slide-top a:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}

main section .Imgslide .big-slide-top a:nth-child(2) img {
  z-index: 1;
}

main section .Imgslide .big-slide-top .button-slide {
  width: 50px;
  height: 20px;
  background-color: #fffdfd;
  position: absolute;
  bottom: 30px;
  left: 50%;
  border-radius: 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .Imgslide .big-slide-top .button-slide .button {
  width: 11px;
  height: 11px;
  background-color: var(--border-color);
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: 50%;
  cursor: pointer;
}

main section .Imgslide .big-slide-top .button-slide .active {
  background-color: var(--secondary-background-color);
}

main section .Imgslide .big-slide-top .hidden {
  opacity: 0;
  visibility: hidden;
}

main section .Imgslide .big-slide-top .region-hover-mouse-left, main section .Imgslide .big-slide-top .region-hover-mouse-right {
  width: 15%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
}

main section .Imgslide .big-slide-top .region-hover-mouse-right {
  right: 0;
}

main section .Imgslide .big-slide-top .region-hover-mouse-left {
  left: 0;
}

main section .Imgslide .img-banner {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

main section .Imgslide .img-banner > div:nth-child(1) {
  -webkit-transform: skewX(-30deg) translateX(-6%);
          transform: skewX(-30deg) translateX(-6%);
  width: 103%;
  overflow: hidden;
}

main section .Imgslide .img-banner > div:nth-child(1) img {
  width: 100%;
  height: 100%;
  -webkit-transform: skewX(30deg) translateX(6%);
          transform: skewX(30deg) translateX(6%);
}

main section .Imgslide .img-banner > div:nth-child(2) {
  -webkit-transform: skewX(-30deg) translateX(3%);
          transform: skewX(-30deg) translateX(3%);
  width: 103%;
  overflow: hidden;
}

main section .Imgslide .img-banner > div:nth-child(2) img {
  width: 104%;
  -webkit-transform: skewX(30deg) translateX(-9%);
          transform: skewX(30deg) translateX(-9%);
}

main section .Imgslide .img-banner .wrap-img {
  position: relative;
}

main section .Imgslide .img-banner .effect {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  left: 0;
  content: "";
  background-color: rgba(255, 255, 255, 0.692);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}

main section .Imgslide .img-banner .wrap-img:hover .effect {
  -webkit-animation: effect forwards 0.3s linear;
          animation: effect forwards 0.3s linear;
}

@-webkit-keyframes effect {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
    left: 120%;
  }
}

@keyframes effect {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
    left: 120%;
  }
}

main section .title-products {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--border-color);
  margin-bottom: 35px;
}

main section .title-products h3 {
  font-size: 23px;
  font-weight: 600;
  line-height: 50px;
  padding-left: 30px;
}

main section .title-products:after {
  content: "";
  width: 7px;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  background-color: var(--background-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

main section .top-categories {
  margin-top: 65px;
}

main section .top-categories .main {
  padding: 0;
}

main section .top-categories .main .owl-carousel .item .content {
  height: 265px;
}

main section .top-categories .main .owl-carousel .item .content .content-top {
  margin-bottom: 35px;
}

main section .top-categories .main .owl-carousel .item .content .content-top, main section .top-categories .main .owl-carousel .item .content .content-bottom {
  overflow: hidden;
  padding: 5px;
  width: 100%;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--border-color);
}

main section .top-categories .main .owl-carousel .item .content .content-top .right, main section .top-categories .main .owl-carousel .item .content .content-bottom .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .top-categories .main .owl-carousel .item .content .content-top .right img, main section .top-categories .main .owl-carousel .item .content .content-bottom .right img {
  width: 80%;
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main section .top-categories .main .owl-carousel .item .content .content-top .left, main section .top-categories .main .owl-carousel .item .content .content-bottom .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .top-categories .main .owl-carousel .item .content .content-top .left p, main section .top-categories .main .owl-carousel .item .content .content-bottom .left p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main section .top-categories .main .owl-carousel .item .content .content-top:hover p, main section .top-categories .main .owl-carousel .item .content .content-bottom:hover p {
  color: var(--background-color) !important;
}

main section .top-categories .main .owl-carousel .item .content .content-top:hover img, main section .top-categories .main .owl-carousel .item .content .content-bottom:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

main section .top-categories .main .owl-carousel .owl-nav button {
  height: 35px;
  width: 35px;
  border: solid var(--background-color);
  border-radius: 50%;
  border-width: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main section .top-categories .main .owl-carousel .owl-nav button span {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 30px;
  line-height: 35px;
  color: var(--background-color);
}

main section .top-categories .main .owl-carousel .owl-nav button:hover {
  background-color: var(--background-color);
}

main section .top-categories .main .owl-carousel .owl-nav button:hover span {
  color: white;
}

main section .trending-products {
  margin-top: 65px;
  height: auto;
  position: relative;
}

main section .trending-products .product-types {
  position: absolute;
  top: 0;
  right: 150px;
}

main section .trending-products .product-types > ul {
  height: 50px;
  margin: 0 !important;
  padding: 0 !important;
}

main section .trending-products .product-types > ul > li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: inline-block;
  cursor: pointer;
  line-height: 50px;
  font-size: 18px;
  margin: 0 10px;
}

main section .trending-products .banner-left {
  position: relative;
  width: 100%;
  overflow: hidden;
}

main section .trending-products .banner-left a {
  display: block;
  width: 100%;
}

main section .trending-products .banner-left a img {
  width: 100%;
}

main section .trending-products .banner-left:after {
  position: absolute;
  content: "";
  top: -30px;
  left: -40%;
  width: 15%;
  height: 127%;
  background-color: white;
  -webkit-transform: rotateY(30deg);
  transform: rotateZ(14deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6;
}

@-webkit-keyframes effect1 {
  0% {
    left: -40%;
  }
  100% {
    left: 115%;
  }
}

@keyframes effect1 {
  0% {
    left: -40%;
  }
  100% {
    left: 115%;
  }
}

main section .trending-products .banner-left:hover:after {
  -webkit-animation: effect1 forwards 0.3s linear;
          animation: effect1 forwards 0.3s linear;
}

main section .trending-products .slide-trending-products {
  height: auto;
  padding-bottom: 0 !important;
}

main section .trending-products .slide-trending-products .owl-carousel {
  padding: 0 !important;
  height: 100%;
}

main section .trending-products .slide-trending-products .owl-carousel .owl-stage-outer, main section .trending-products .slide-trending-products .owl-carousel .owl-stage {
  height: 100% !important;
}

main section .trending-products .slide-trending-products .owl-carousel .item {
  height: auto;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content {
  height: auto;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content .product-top {
  margin-bottom: 30px;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div {
  width: auto;
  height: auto;
  position: relative;
  padding-bottom: 55px;
  border: 1px solid var(--border-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div a {
  display: block;
  height: auto;
  width: 100%;
  position: relative;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div img {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .hover-img {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .infor-product {
  position: absolute;
  left: 10px;
  bottom: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .infor-product .product-name {
  font-size: 16px;
  color: black;
  font-weight: 300;
  line-height: 0.7;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .infor-product .detail .price {
  font-style: 18px;
  font-weight: 700;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .infor-product .detail .old-price {
  font-size: 15px;
  font-weight: 300;
  text-decoration: line-through;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .infor-product .detail span {
  color: black;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div #product-review {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 60px;
  font-size: 14px;
  text-align: center;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div #product-review .fa {
  color: #deb047;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div #product-review .far {
  color: #728c94;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .status-product {
  position: absolute;
  top: 10px;
  left: -40px;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .discount {
  position: absolute;
  top: 10px;
  right: -35px;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  color: rgba(255, 0, 0, 0.89);
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .list-action {
  position: absolute;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 23px;
  visibility: hidden;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .list-action > div:nth-child(1) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .list-action > div:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .list-action > div:nth-child(3) {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .list-action > div {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  border-radius: 50%;
  background-color: var(--background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(23px);
          transform: translateY(23px);
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .list-action > div i {
  color: white;
  padding-left: 8px;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .list-action > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .list-action > div:hover {
  background-color: var(--secondary-color);
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div .list-action > div:hover i {
  color: black;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div:hover .conver-img {
  opacity: 0;
  visibility: hidden;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div:hover .hover-img {
  opacity: 1;
  visibility: visible;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div:hover .infor-product {
  opacity: 0;
  visibility: hidden;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div:hover .status-product {
  left: 15px;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div:hover .discount {
  right: 15px;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div:hover .list-action {
  visibility: visible;
}

main section .trending-products .slide-trending-products .owl-carousel .item .content > div:hover .list-action > div {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

main section .trending-products .slide-trending-products .owl-carousel .owl-nav button {
  height: 35px;
  width: 35px;
  border: solid var(--background-color);
  border-radius: 50%;
  border-width: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main section .trending-products .slide-trending-products .owl-carousel .owl-nav button span {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 30px;
  line-height: 35px;
  color: var(--background-color);
}

main section .trending-products .slide-trending-products .owl-carousel .owl-nav button:hover {
  background-color: var(--background-color);
}

main section .trending-products .slide-trending-products .owl-carousel .owl-nav button:hover span {
  color: white;
}

main section .list-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  grid-column-gap: 30px;
  margin-top: 65px;
}

main section .list-banner a {
  display: block;
  height: 100%;
  width: 100%;
}

main section .list-banner .banner-left, main section .list-banner .banner-right {
  width: 100%;
  height: auto;
}

main section .list-banner .banner-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

main section .list-banner .banner-right .banner-right-top {
  grid-column-gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 5fr;
      grid-template-columns: 4fr 5fr;
}

main section .list-banner .banner-right .banner-right-bottom {
  grid-column-gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
}

main section .list-banner img {
  width: 100%;
  height: 100%;
}

main section .list-banner .banner-left, main section .list-banner .banner-right-top > div, main section .list-banner .banner-right-bottom > div {
  position: relative;
  overflow: hidden;
}

main section .list-banner .banner-left:after, main section .list-banner .banner-right-top > div:after, main section .list-banner .banner-right-bottom > div:after {
  position: absolute;
  content: "";
  top: -30px;
  left: -45%;
  width: 15%;
  height: 127%;
  background-color: white;
  -webkit-transform: rotateY(30deg);
  transform: rotateZ(14deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.6;
}

@keyframes effect1 {
  0% {
    left: -40%;
  }
  100% {
    left: 115%;
  }
}

main section .list-banner .banner-left:hover:after, main section .list-banner .banner-right-top > div:hover:after, main section .list-banner .banner-right-bottom > div:hover:after {
  -webkit-animation: effect1 forwards 0.3s linear;
          animation: effect1 forwards 0.3s linear;
}

main section .discount-banner {
  margin-top: 60px;
  position: relative;
  overflow: hidden;
}

main section .discount-banner a {
  display: block;
  width: 100%;
  height: auto;
}

main section .discount-banner img {
  width: 100%;
}

main section .from-the-journal {
  margin-top: 60px;
}

main section .from-the-journal .owl-carousel .item {
  position: relative;
}

main section .from-the-journal .owl-carousel .item > a:nth-child(1) {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

main section .from-the-journal .owl-carousel .item > a:nth-child(1) img {
  width: 100%;
  height: auto;
}

main section .from-the-journal .owl-carousel .item > a:nth-child(1) .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

main section .from-the-journal .owl-carousel .item .action {
  width: auto;
  height: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main section .from-the-journal .owl-carousel .item .action .link, main section .from-the-journal .owl-carousel .item .action .view {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  background-color: white;
  cursor: pointer;
  font-weight: 300;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main section .from-the-journal .owl-carousel .item .action .link {
  margin-left: 10px;
}

main section .from-the-journal .owl-carousel .item .action .link a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 35px;
  color: black;
}

main section .from-the-journal .owl-carousel .item .action .link:hover, main section .from-the-journal .owl-carousel .item .action .view:hover {
  background-color: var(--secondary-color);
}

main section .from-the-journal .owl-carousel .item > h5 {
  padding-top: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main section .from-the-journal .owl-carousel .item > h5 > a {
  font-size: 18px;
}

main section .from-the-journal .owl-carousel .item > h5:hover a {
  color: var(--background-color);
}

main section .from-the-journal .owl-carousel .item p {
  font-size: 15px;
  color: black;
  font-weight: 300;
}

main section .from-the-journal .owl-carousel .item .read-more {
  font-size: 16px;
  color: var(--background-color);
}

main section .from-the-journal .owl-carousel .item .read-more:hover {
  color: black;
}

main section .from-the-journal .owl-carousel .item .date {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: white;
  color: black;
  line-height: 17px;
}

main section .from-the-journal .owl-carousel .item:hover .hover {
  opacity: 0.6 !important;
  visibility: visible !important;
}

main section .from-the-journal .owl-carousel .item:hover .action {
  opacity: 1;
  visibility: visible;
}

main section .from-the-journal .owl-carousel .owl-nav button {
  height: 35px;
  width: 35px;
  border: solid var(--background-color);
  border-radius: 50%;
  border-width: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main section .from-the-journal .owl-carousel .owl-nav button span {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 30px;
  line-height: 35px;
  color: var(--background-color);
}

main section .from-the-journal .owl-carousel .owl-nav button:hover {
  background-color: var(--background-color);
}

main section .from-the-journal .owl-carousel .owl-nav button:hover span {
  color: white;
}

main section .big-banner-bottom {
  margin-top: 80px;
}

main section .big-banner-bottom .wrap-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

main section .big-banner-bottom .wrap-img a {
  display: block;
  width: 100%;
  height: auto;
}

main section .big-banner-bottom .wrap-img a img {
  width: 100%;
}

main section .big-banner-bottom .wrap-img:after {
  position: absolute;
  content: "";
  top: -30px;
  left: -40%;
  width: 15%;
  height: 127%;
  background-color: white;
  -webkit-transform: rotateY(30deg);
  transform: rotateZ(14deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6;
}

@keyframes effect1 {
  0% {
    left: -40%;
  }
  100% {
    left: 115%;
  }
}

main section .big-banner-bottom .wrap-img:hover:after {
  -webkit-animation: effect1 forwards 0.3s linear;
          animation: effect1 forwards 0.3s linear;
}

main section .slide-bottom {
  margin-top: 60px;
}

main section .slide-bottom a {
  display: block;
  width: 100%;
  height: auto;
}

main section .slide-bottom a img {
  width: 100%;
  opacity: 0.6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main section .slide-bottom a:hover img {
  opacity: 1;
}

main footer {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

main footer .top-footer {
  width: 100%;
  height: 120px;
  background-color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .top-footer .wrap-top-footer {
  width: 100%;
  height: auto;
}

main footer .top-footer .wrap-top-footer .wrap-content .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

main footer .top-footer .wrap-top-footer .wrap-content .title .icon {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}

main footer .top-footer .wrap-top-footer .wrap-content .title .icon i {
  line-height: 60px;
  font-size: 30px;
}

main footer .top-footer .wrap-top-footer .wrap-content .title .wrap-text p.title {
  font-size: 25px;
  font-weight: 600;
}

main footer .top-footer .wrap-top-footer .wrap-content .title .wrap-text p {
  padding: 0;
  margin: 0;
}

main footer .top-footer .wrap-top-footer .wrap-content .form-subscribe {
  height: 100%;
  position: relative;
}

main footer .top-footer .wrap-top-footer .wrap-content .form-subscribe .input-wrap {
  height: 100%;
}

main footer .top-footer .wrap-top-footer .wrap-content .form-subscribe .input-wrap input {
  overflow: visible;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 35px;
  padding-left: 30px;
  outline: none;
}

main footer .top-footer .wrap-top-footer .wrap-content .form-subscribe .btn-subscribe {
  position: absolute;
  top: 0;
  right: 15px;
  width: 25%;
  height: 100%;
  background-color: var(--background-color);
  color: white;
  text-align: center;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .main-footer {
  margin-top: 60px;
}

main footer .main-footer .slide-footer {
  border-bottom: 1px solid var(--border-color);
}

main footer .main-footer .content {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

main footer .main-footer .content .wrap-content {
  width: 100%;
  height: auto;
}

main footer .main-footer .content .wrap-content .icon {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main footer .main-footer .content .wrap-content .icon img {
  height: 45px;
  width: 45px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main footer .main-footer .content .wrap-content .title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

main footer .main-footer .content .wrap-content ul li {
  color: black;
  list-style: none;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

main footer .main-footer .content .wrap-content ul li i {
  margin-right: 15px;
}

main footer .main-footer .content .border-left {
  border-left: 1px solid var(--border-color);
}

main footer .main-footer .content .wrap-content:hover .icon img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main footer .main-footer .bottom-main {
  margin-top: 40px;
}

main footer .main-footer .bottom-main .footer-logo .logo a {
  display: block;
  height: auto;
  width: auto;
}

main footer .main-footer .bottom-main .footer-logo .store-des {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
}

main footer .main-footer .bottom-main .footer-logo .list-icon .wrap-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

main footer .main-footer .bottom-main .footer-logo .list-icon .wrap-icon a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 35px;
}

main footer .main-footer .bottom-main .footer-logo .list-icon .wrap-icon i {
  color: white;
}

main footer .main-footer .bottom-main .footer-logo .list-icon li:nth-child(1):hover {
  border-color: #3b5998;
  background-color: #3b5998;
}

main footer .main-footer .bottom-main .footer-logo .list-icon li:nth-child(2):hover {
  border-color: #1da1f2;
  background-color: #1da1f2;
}

main footer .main-footer .bottom-main .footer-logo .list-icon li:nth-child(3):hover {
  border-color: #c4302b;
  background-color: #c4302b;
}

main footer .main-footer .bottom-main .footer-logo .list-icon li:nth-child(4):hover {
  border-color: #DD4B39;
  background-color: #DD4B39;
}

main footer .main-footer .bottom-main .footer-logo .list-icon li:nth-child(5):hover {
  border-color: #3b5998;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

main footer .main-footer .bottom-main .list-infor {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 203px;
}

main footer .main-footer .bottom-main .list-infor .wrap-content {
  height: auto;
  width: auto;
  overflow: hidden;
}

main footer .main-footer .bottom-main .list-infor .wrap-content .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

main footer .main-footer .bottom-main .list-infor .wrap-content ul {
  width: 100%;
  height: auto;
}

main footer .main-footer .bottom-main .list-infor .wrap-content ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 8px;
}

main footer .main-footer .bottom-main .list-infor .wrap-content ul li a {
  color: black;
  display: block;
  font-size: 14px;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  font-weight: 300;
}

main footer .main-footer .bottom-main .list-infor .wrap-content ul li a i {
  padding-right: 5px;
  font-size: 13px;
}

main footer .main-footer .bottom-main .list-infor .wrap-content ul li:hover a {
  color: var(--background-color);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main footer .main-footer .bottom-main .contact-us .wrap-content .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

main footer .main-footer .bottom-main .contact-us .wrap-content ul {
  width: 100%;
  height: auto;
}

main footer .main-footer .bottom-main .contact-us .wrap-content ul li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 10px;
}

main footer .main-footer .bottom-main .contact-us .wrap-content ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.705);
  font-size: 15px;
  font-weight: 300;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main footer .main-footer .bottom-main .contact-us .wrap-content ul li a i {
  padding-right: 15px;
  font-size: 17px;
  color: var(--background-color);
  padding-top: 3px;
}

main footer .main-footer .bottom-main .contact-us .wrap-content ul li:hover a {
  color: black;
}

main footer .bottom-footer {
  border-top: 1px solid var(--border-color);
  padding: 15px 0;
}

main footer .bottom-footer .left a {
  color: black;
  font-size: 15px;
  font-weight: 300;
}

main footer .bottom-footer .right {
  position: relative;
}

main footer .bottom-footer .right .wrap-content {
  position: absolute;
  top: 0;
  right: 30px;
}

main footer .bottom-footer .right .wrap-content span {
  font-size: 15px;
  font-weight: 300;
  margin-right: 20px;
}

.active {
  color: var(--background-color);
}
/*# sourceMappingURL=index.css.map */